CRUD/package-lock.json
CRUD/FrontEnd/package-lock.json
/CRUD/BackEnd/appsettings.json
/Login/BackEnd/LoginAPI/appsettings.json
Login/FrontEnd/package-lock.json
Datatables/response.json
Datatables/package-lock.json
Datatables/node_modules/.package-lock.json
Login/BackEnd/appsettings.Development.json
Login/BackEnd/appsettings.json
.vscode
